[*.cs]

# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = none

# IDE0031: Use null propagation (does not work well with Unity)
dotnet_diagnostic.IDE0031.severity = none

# IDE0161: Use file-scoped namespace
csharp_style_namespace_declarations = file_scoped:warning

# Custom config
tab_width = 4
indent_size = 4
end_of_line = crlf
indent_style = space

[*.{cs,vb}]
#### Naming styles ####

# Naming rules

# Start underscores for private fields
dotnet_naming_rule.private_fields_with_underscore.symbols  = private_fields
dotnet_naming_rule.private_fields_with_underscore.style    = prefix_underscore
dotnet_naming_rule.private_fields_with_underscore.severity = suggestion
# End underscores for private fields


# Symbol specifications

# Start underscores for private fields
dotnet_naming_symbols.private_fields.applicable_kinds           = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private, protected
# End underscores for private fields


# Naming styles

# Start underscores for private fields
dotnet_naming_style.prefix_underscore.capitalization = camel_case
dotnet_naming_style.prefix_underscore.required_prefix = _
# End underscores for private fields